<div class="card customer-info">

    <div class="card-body">
        <div class="media border p-3" style="border: none!important;">
            <img src="https://via.placeholder.com/150/339933/FFFFFF?text=OK" alt="log out"
                 class="mr-3 mt-3 rounded-circle" style="width:60px;">
            <div class="media-body">

                <div class="customer-contacts"><h5>Ok</h5>
                    You have successfully been Logged Out
                </div>


            </div>
        </div>
    </div>

</div>